{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <ul>
    <li><h1>{{ movie.title }}</h1></li>
    <li>release date: {{ movie.releasedAt|date('d F Y') }}</li>
        {# movie.releasedAt.format('Y-m-d') #}
    <li>genre:
        {%  for genre in movie.genre %}
        <ul>{{ genre }}</ul>
        {% endfor %}
        {# movie.genre|join(', ') #}
    </li>
    </ul>
</div>
{% endblock %}
