
{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ book.title }}</h1>

        <ul>
            <li>Id : {{ book.id }}</li>
            <li>Released At : {{ book.releasedAt|date('d F Y') }}</li>
            <li>Genres : {{ book.genre|map(genre => genre.name)|join(', ') }}</li>
        </ul>
    </div>
{% endblock %}