{% extends 'base.html.twig' %}

{% block title %}No Access{% endblock %}

{% block body %}
    <h1>You don't match the age to see the movie!</h1>
    <button><a class="nav-link" href="{{ path('app_movie_index') }}">Back to movie list</a></button>
{% endblock %}